// Created by Jason Als on 9/27/13.
// @jasonals
// http://justlooking246.com

.info
    div.clearfix
        .form-group.pull-right
            button.btn.btn-success(ng-disabled="!storeInfo.difference()", ng-click="storeInfo.update()", ng-if="store.canEdit()") Update
            | &nbsp;
            button.btn.btn-default(ng-disabled="!storeInfo.temp", ng-click="storeInfo.reset()") Reset

    .panel.panel-body
        h2.text-center(ng-bind="storeInfo.data.name")
        .row

            .form-group.col-sm-6
                label Website
                input.form-control(ng-model="storeInfo.data.website")

            .form-group.col-sm-6
                label Phone #
                input.form-control(ng-model="storeInfo.data.phone_number")

            .form-group.col-sm-6
                label Email
                input.form-control(ng-model="storeInfo.data.contact_email")

            .form-group.col-sm-6
                label Facebook Page Url
                input.form-control(ng-model="storeInfo.data.facebook_page")


            //-.form-group(ng-repeat="(key, val) in store.data").row
                label {{key}}
                //-input.form-control(ng-model="val")
