// Created by Jason Als on 10/22/13.
// @jasonals
// http://justlooking246.com

.modal-dialog(ng-controller="editItemCtrl as item")
    .modal-content
        .modal-body
            form(ng-upload='', action='/item-edit')
                div {{ item.difference().id }}
                .form-group
                    label Image
                    .row
                        .col-xs-6
                            img.img-responsive(ng-src="/media/product/small/{{item.item.id}}.jpg")
                            //img(ng-src='/uploads/{{shop.editing.image}}', ng-if='shop.editing.image', style='max-height:300px;').img-responsive
                        .col-xs-6
                            div(file-input='')
                .form-group
                    label Name
                    input.form-control(ng-model="item.item.name", name='name')
                    input.form-control(ng-model="item.item.id", name='id').hide
                .row
                    .form-group.col-xs-6
                        label Model
                        input.form-control(ng-model="item.item.model_name", name='model_name')
                    .form-group.col-xs-6
                        label UPC
                        input.form-control(ng-model="item.item.upc", name='upc')
                .form-group
                    label Description
                    textarea.form-control(ng-model="item.item.description", name='description')
                .form-group.clearfix
                    div.pull-right
                        button.btn.btn-default(type='submit',ng-disabled="!item.temp.id", upload-submit="item.uploadComplete(content, completed)") Update
                        //button.btn.btn-default(ng-disabled="!item.difference()", ng-click="item.save()") Update
                        |&nbsp;
                        button.btn.btn-default(ng-disabled="!item.temp", ng-click="item.reset()") Reset
                        |&nbsp;
                        .btn.btn-danger(ng-click="modal.hide()") Close
