// Created by Jason Als on 9/27/13.
// @jasonals
// http://justlooking246.com


.table-responsive
    table.table.table-striped.panel
        thead
            tr
                th Name
                th Email
                th View
                th Edit



        tbody
            tr(ng-repeat="item in permissions.permissions")
                td {{ item.name }}
                td {{ item.email }}
                td {{ item.view }}
                td {{ item.edit }}



.text-center(ng-if="!permissions.loaded")
    i.fa.fa-spinner.fa-spin.fa-5x
