// Created by Jason Als on 9/27/13.
// @jasonals
// http://justlooking246.com

#store
    .panel.store-head
        .panel-body
            img.img-responsive.center(ng-src="/media/store/small/{{store.data.photo}}", ng-if='store.data.photo')
            h1.text-center(ng-if='!store.data.photo') {{store.data.name}}

    .panel.navbar.navbar-custom.navbar-store
                //-.navbar-header
                    button.navbar-toggle(data-toggle="collapse", data-target=".store-nav")
                        span.sr-only Toggle Navigation
                        span.fa.fa-bars.fa-lg

                //-.collapse.store-nav.navbar-collapse
                ul.nav.navbar-nav
                        li
                            a( ng-href="/store/{{store.data.slug}}/settings") Info
                        li
                            a(ng-href="/store/{{store.data.slug}}/settings/stock") Stock
                        li
                            a(ng-href="/store/{{store.data.slug}}/settings/permissions") Permissions

                        li.manage
                            a(ng-href="/store/{{store.data.slug}}") Page
    span( ng-if="store.canView()")
        div(ui-view="")
    //-div(ng-include=" '/static/browser/html/base/search.html' ", ng-controller="searchCtrl as search")
