// Created by Jason Als on 9/27/13.
// @jasonals
// http://justlooking246.com

//-div {{ stock }}
div
    .form-group.pull-right
        button.btn.btn-success(ng-disabled="!stock.difference()", ng-click="stock.update()", ng-if="store.canEdit()") Update
        | &nbsp;
        button.btn.btn-default(ng-disabled="!stock.temp", ng-click="stock.reset()") Reset

.table-responsive
    table.table.table-striped.panel
        thead
            tr
                th(width="60")
                th(width="100") No.
                th(width="100") Model
                th Name
                th(width="100") Quantity
                th(width="100") Price
                th(width="50").text-center Active

        tbody
            tr(ng-repeat="item in stock.stock", ng-class="{'warning': stock.edited(item.id) }")
                td
                    a(ui-sref="base.product({id:item.product_id})")
                        i.fa.fa-link.fa-lg
                    |&nbsp;
                    i.fa.fa-edit.fa-lg(ng-click="modal.editItem(item.product_id)")

                td
                    input.form-control(ng-model="item.no", type="text" )
                td {{item.model_name}}
                td {{ item.name }}
                td
                    input(ng-model="item.quantity", type="number").form-control
                td
                    input(ng-model="item.price_retail", type="number").form-control

                td.text-center(ng-click="item.active = !item.active")
                    i.fa.fa-lg(ng-class=" {'fa-check-square-o':item.active,'fa-square-o':!item.active} ")

pagination(bind="stock.pagination")

.text-center(ng-if="!stock.loaded")
    i.fa.fa-spinner.fa-spin.fa-5x


edit-item
