
#store{

  .info{
    .row{
      margin-bottom: 10px;
    }
  }

}

.navbar-store{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  //  border-radius: 0;
  border-width: 0;
  border-top-width: 1px;

  margin-bottom: 20px;

  .navbar-nav{
    width: 100%;
    margin: 0;

    li{
      display: inline-block;

      &.manage{
        position: absolute;
        right: 0;
        top: 0;
      }

      a{
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
  }
}


.store-head{
  margin-bottom: 0;
  border-bottom-width: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
