


//script( src="/socket.io/socket.io.js")
//-script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js')
//-script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js')
//-script(src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.0/angular-ui-router.min.js')
//-script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js')

script(src="/primus/primus.js")



// build:js(.) /static/browser/js/lib.js

script(src='/bower_components/jquery/jquery.min.js')
script(src='/bower_components/qrcode.js/qrcode.min.js')
script(src='/bower_components/store.js/store.min.js')
script(src='/bower_components/lodash/dist/lodash.min.js')

script(src='/bower_components/angular/angular.js')
script(src='/bower_components/angular-sanitize/angular-sanitize.min.js')
script(src='/bower_components/angular-animate/angular-animate.min.js')
script(src='/bower_components/angular-touch/angular-touch.js')
script(src='/bower_components/angular-ui-router/release/angular-ui-router.min.js')
script(src='/bower_components/ngUpload/ng-upload.min.js')
script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')

//endbuild

// build:js(.) /static/browser/js/app.js
script(src='/.tmp/browser/js/app.js')
script(src='/.tmp/browser/js/templates.js')

// endbuild
