

// build:css(.) /static/browser/css/styles.css
link(href='/bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
link(href='/bower_components/font-awesome/css/font-awesome.min.css', rel='stylesheet')
link(href='/.tmp/browser/css/styles.css', rel='stylesheet')
// endbuild

//build:remove
script(src="http://192.168.254.13:35729/livereload.js")
// /build
