// Created by Jason Als on 9/14/13.
// @jasonals
// http://justlooking246.com


!!! 5
html( lang="en",id='ng-app', ng-app='jl246', ng-controller='baseCtrl as base' )
    head
        meta(charset="utf-8")

        meta(content="initial-scale=1,  minimum-scale=1, width=device-width, height=device-height", name="viewport")
        //base(href='/')

        block opengraph
            meta( property="og:title", content="JustLooking246.com")
            meta( property="og:type", content="website")
            meta( property="og:url", content="http://JustLooking246.com/")
            meta( property="og:description", content="Justlooking246 - Barbados Businesses")

        meta( property="og:image", content="http://justlooking246.com/static/img/logo/logo_JustLooking246-v3.png")
        meta(property="og:site_name", content="JustLooking246.com")
        meta(property="fb:app_id", content="209726035745615")

        include ../../.tmp/jade/head.html

    body()
        #fb-root
        div(ui-view).content
            block content

                .container
                    h1 Loading...

        include ../../.tmp/jade/foot.html


        //.modal(modal)
        .footer.container
            .col-sm-3.col-xs-6
                a(href="/about") About
                a(href="/plans") Pricing Plans
            .col-sm-3.col-xs-6
                a(href="/about") About
                a(href="/plans") Pricing Plans



            .col-xs-12.col-sm-3.col-md-2.pull-right(size="100", color="green" ,qr-code="{{$location.host() + ($location.port() ? ':'+$location.port(): '')+$location.path()}}")

                    //div absUrl: {{$location.absUrl()}}
                    //div path: {{$location.path()}}
                    //div url: {{$location.url()}}
                    //div test: {{$location.host() + ($location.port()? ':'+$location.port(): '')+$location.path()}}

