@import "/bower_components/bootstrap/less/variables";
@import "/bower_components/bootstrap/less/mixins";

@blue:#1a9cff;
@cyan:#5bc0de;
@green:#62c462;
@red:#ee666f;
@pink:#ee7ae9;
@violet:#b452cd;
@yellow:#faa937;
@orange:#f87531;
@brown:#964514;
@white:#fff;
@gray:#d0d0d0;
@black:#666;
@transparent: rgba(0, 0, 0, 0.5);

html, body {
  height: 100%;
  //  background-color: @black;
}


body *{
  //  border: 1px solid black;
}


body{
  background-image: url("/static/browser/img/noise.png");
  background-color: #F8F8F8;

  padding-top: 70px;


  > .footer{
    margin-top: 20px;
    padding-bottom: 10px;

    a{
      display: block;
    }
  }

  > .content{
    min-height: 400px;
  }



}
.table{

  td{
    vertical-align: middle !important;
  }
}


.center{
  margin: 0 auto;
}

//@media (max-width: @screen-xs-max) {
.navbar-nav{
  > li, &{
    float: left;
  }
}
//}

.btn-social-login{
  padding: 0;
  .clearfix();
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);


  color: @white;
  i{
    width: 44px;
    text-align: center;
    color: @white;
    font-size: 2em;
    //    box-shadow: inset -1px 0px 2px rgba(0, 0, 0, 0.14);
    margin-right: 6px;
    padding: 6px 10px;
    float: left;
  }
  .text{
    font-size: 1.2em;
    padding: 8px;
    font-weight: bold;
    text-align: center;
  }
}

.btn-blue{
  background-color: @blue;
  &:hover{
    background-color: darken(@blue, 20);
  }
}
.btn-red{
  background-color: @red;
  &:hover{
    background-color: darken(@red, 20);
  }
}


.notification{
  position: absolute;
  background-color: #F00;
  color: #FFF;
  border-radius: 6px;
  width: 20px;
  height: 20px;
  text-align: center;
  right: 0;
  top: 2px;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  z-index: 1;
}


body:after {
  content: 'desktop';
  display: none;
}
@media (max-width: 767px) {
  body:after {
    content: 'phone';
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  body:after {
    content: 'tablet';
  }
}
@media (min-width: 1200px) {
  body:after {
    content: 'desktop-large';
  }
}
