// Created by Jason Als on 10/3/13.
// @jasonals
// http://justlooking246.com

#profile
    .panel.store-head
        .panel-body
            //-img.img-responsive.center(src="/media/store/small/{{store.data.id}}.jpg")
            .h3.text-center(ng-bind="user.data.first_name +' '+ user.data.last_name")
            .text-center(ng-if="user.data.profile.facebook_id")
                a.btn.btn-default(ng-href="http://facebook.com/{{user.data.profile.facebook_id}}", target="_blank")
                    i.fa.fa-facebook.fa-lg
    .panel.navbar.navbar-custom.navbar-store
                //-.navbar-header
                    button.navbar-toggle(data-toggle="collapse", data-target=".store-nav")
                        span.sr-only Toggle Navigation
                        span.fa.fa-bars.fa-lg

                //-.collapse.store-nav.navbar-collapse
                ul.nav.navbar-nav
                        li
                            a( ng-href="/user/{{user.data.id}}") Lists
                        li
                            a(ng-href="/user/{{user.data.id}}/likes") Likes

                        li.manage
                            a(ng-href="/user/{{user.data.id}}/settings") Settings
    .h3.text-center UNDER CONSTRUCTION
    div(ui-view="")
