// Created by Jason Als on 10/12/13.
// @jasonals
// http://justlooking246.com

.row
    .like.col-sm-3.col-xs-6(ng-repeat="like in action.data")
        .panel.text-center {{like.product_id}}, {{like.action_id}}

