// Created by Jason Als on 10/6/13.
// @jasonals
// http://justlooking246.com

.col-sm-10.col-md-8.col-sm-push-1.col-md-push-2.row(ng-controller="loginCtrl as login")
    h3.text-center Sign In With
    .col-sm-5
            .btn-social-login.btn-blue.col-xs-12(ng-click="base.user.fblogin()")
                i.fa.fa-facebook
                .text Facebook


            .g-signin.btn-social-login.btn-red.col-xs-12
                i.fa.fa-google-plus
                .text Google

            //.g-signin(
                data-scope="https://www.googleapis.com/auth/plus.login"
                data-clientid="1072490598166.apps.googleusercontent.com"
                data-redirecturi="postmessage"
                data-accesstype="offline"
                data-cookiepolicy="single_host_origin"
            //)

    .col-sm-7
        form(ng-submit="login.login()").panel.panel-body
            .form-group
                label(for="email") Email / Username
                input.form-control(name="email",placeholder="Email / Username", ng-model="login.email")

            .form-group
                label Password
                input.form-control(placeholder="Password", ng-model="login.password")

            .form-group

                button.btn.btn-default( type="submit" ) Sign in

