// Created by Jason Als on 10/13/13.
// @jasonals
// http://justlooking246.com

.panel.panel-body

    .form-group
        label.control-label Username
        input.form-control(ng-model="user.data.username")

    .form-group
        label.control-label First Name
        input.form-control(ng-model="user.data.first_name")

    .form-group
        label.control-label Last Name
        input.form-control(ng-model="user.data.last_name")

    .form-group
        label.control-label Email
        input.form-control(ng-model="user.data.email")


    //-.form-group(ng-repeat="(label, field) in user.data.profile")
        label.control-label(ng-bind="label")
        input.form-control(ng-model="field")
