// Created by Jason Als on 10/3/13.
// @jasonals
// http://justlooking246.com


h1 admin

//div(ng-repeat="user in admin.users") {{user}}

table.table

    tbody
        tr(ng-repeat="user in admin.users")
            td
                a(ng-href="/user/{{user.id}}")
                    i.fa.fa-eye.fa-lg

            td {{user.first_name}}
            td {{user.last_name}}
            td {{user.username}}
            td {{user.email}}
            td {{user.is_staff}}
            td {{user.last_login | date}}
            td {{user.date_joined | date}}
