// Created by Jason Als on 9/15/13.
// @jasonals
// http://justlooking246.com

.jumbotron
    .container Welcome.



.row
    .col-sm-4
        .panel.panel-body Twitter: {{home.tweets}}

    .col-sm-4
        .panel.panel-body test

    .col-sm-4
        .panel.panel-body test

