// Created by Jason Als on 9/15/13.
// @jasonals
// http://justlooking246.com

.navbar.navbar-fixed-top.navbar-custom
    .container
        .navbar-header
            button.navbar-toggle(data-toggle="collapse", data-target=".navbar-collapse")
                span.sr-only Toggle Navigation
                span.fa.fa-bars.fa-lg
            a.navbar-brand(href="/") Justlooking246

        .collapse.navbar-collapse
            ul.nav.navbar-nav
                li
                    a(href='/') Home
                li
                    a(href='/search', ui-sref="base.search()") Search
                li
                    a(href='/stores', ui-sref="base.stores()") Stores
                //li
                    a(href='/about') About

            ul.nav.navbar-nav.pull-right
                li(ng-if="!base.user.data.id")
                    a(href='/login', title="Sign In")
                        i.fa.fa-sign-in.fa-lg


                li(ng-if="base.user.data.id")
                    .notification 69
                    a(href='/user/{{base.user.data.id}}', title="profile")
                        i.fa.fa-user.fa-lg


                li(ng-if="base.user.data.id").dropdown

                    a(href='#', data-toggle="dropdown").dropdown-toggle
                        i.fa.fa-cog.fa-lg

                    ul.dropdown-menu
                        li(ng-repeat='perm in base.user.data.store_permissions')
                            a(ng-href="/store/{{perm.slug}}/settings/stock") {{perm.name}}
                        li(ng-if='base.user.data.store_permissions').divider
                        li(ng-if="base.user.data.is_superuser")
                            a(href='/admin') Admin
                        li
                            a(href='', title="Sign Out", ng-click="base.user.logout()")
                                i.fa.fa-sign-out.fa-lg
                                | Logout


div(ui-view='').container
