// Created by Jason Als on 9/28/13.
// @jasonals
// http://justlooking246.com

.text-center(ng-if="pagination.pageCount() > 1")
    ul.pagination.pagination-lg

        li(ng-repeat="page in [0,1,2,3,4]", ng-class="{'active':page==pagination.page}")
            a(href='#', ng-click="pagination.go(page)") {{ page+1 }}
    div
        ul.pagination.pagination-lg
            li
                a(href='#', ng-click="pagination.go(0)") &laquo;
            li
                a(href='#', ng-click="pagination.pagePrevious()") &lsaquo;
            li
                a(href='#', ng-click="pagination.pageNext()") &rsaquo;
            li
                a(href='#', ng-click="pagination.go(pagination.pageCount()-1)") &raquo;


