// Created by Jason Als on 9/16/13.
// @jasonals
// http://justlooking246.com

#item

    h3
        i.fa.fa-edit.fa-lg.btn.btn-default(ng-click="editItem(item.data.id)", ng-if="item.canEdit()")
        span(ng-bind="item.data.name")
    .row
        .col-sm-6
            .img.panel.panel-body
                img.center.img-responsive(ng-src="/media/product/medium/{{item.data.photo}}", ng-if='item.data.photo')
                img.center.img-responsive(ng-src="/static/img/logo_big.png", ng-if='!item.data.photo')

            //-.panel.panel-success.hidden-xs
                .panel-body(qr-code="{{$location.absUrl()}}", color="green", size="150")

        .col-sm-6
            .panel.panel-success.availability
                .panel-heading Availability
                .panel-body
                    .row( ng-repeat="store in item.data.store" )
                        .col-sm-8
                            a(ng-href="/store/{{store.company_slug}}" ) {{store.company_name}}
                        .col-sm-4
                            .price.pull-right {{store.price_retail | currency}}

            .panel.panel-success
                .panel-body
                    | Map


    .panel.panel-success
            .panel-heading Details
            .panel-body(ng-bind="item.data.description")


edit-item
//div {{ item }}
