// Created by Jason Als on 10/1/13.
// @jasonals
// http://justlooking246.com

extends ../index

block opengraph
    meta( property="og:title", content="#{item.name}")
    meta( property="og:type", content="justlookingapp:item")
    meta( property="og:url", content="http://justlooking246.com/product/#{item.id}/#{item.slug}")
    meta( property="og:image", content="http://justlooking246.com/media/product/small/#{item.id}.jpg")
    each store in item.store
        meta( property="justlookingapp:store", content="http://justlooking246.com/store/#{store.company_slug}")



block content
    include index

    #item.container
        h3.col-xs-12 #{item.name}
        .col-sm-4
            .img.panel.panel-body
                if item.photo
                    img.center.img-responsive(src="/media/product/medium/#{item.photo}")
                else
                    img.center.img-responsive(src="/static/img/logo_big.png")

            //-.panel.panel-success.hidden-xs
                .panel-body(qr-code="{{$location.absUrl()}}", color="green", size="150")

        .col-sm-8
            .panel.panel-success.availability
                .panel-heading Availability
                .panel-body
                    if item && item.store
                        each store in item.store
                            .row
                                .col-sm-8 #{store.company_name}
                                .col-sm-4
                                    .price.pull-right $#{store.price_retail}

            //-.panel.panel-success
                .panel-body
                    | Map

            .panel.panel-success
                .panel-heading Details
                .panel-body #{item.description}


