// Created by Jason Als on 9/16/13.
// @jasonals
// http://justlooking246.com
.row
    //-div {{search.categories}}
    .col-sm-3
        .panel.panel-default
            .panel-heading Categories
            .list-group
                a.list-group-item(href='#',
                ng-repeat='category in search.categories() | orderBy:"name" ',
                ng-click='search.goCategory(category.id)',
                ng-class='{"active": +category.id == +$state.params.category}')
                    i.fa.fa-fw.fa-lg.pull-right(ng-class='{"fa-times-circle":  +category.id == +$state.params.category}')
                    | {{category.name}}


    #search.col-sm-9(ng-swipe-left="search.pageNext()",ng-swipe-right="search.pagePrevious()")
        div {{search.test}}
        div.clearfix
            .product.col-sm-4.col-xs-6.col-md-4(ng-repeat="product in search.products")
                .wrap
                    a.img(ui-sref="base.product({id:product.id})")
                        img.center( ng-src='/media/product/small/{{product.photo}}', ng-if='product.photo').img-responsive
                        img.center( src='/static/img/logo_big.png', ng-if='!product.photo', style="max-height:150px;").img-responsive

                    .price {{ product.store | price | currency }}
                .name {{ product.name }}

        pagination(bind="search.pagination")
        //.text-center(ng-if="search.pagination.pageCount() > 1")
        //    ul.pagination.pagination-lg
        //
        //        li(ng-repeat="page in [0,1,2,3,4]", ng-class="{'active':page==search.pagination.page}")
        //            a(href='#', ng-click="search.page(page)") {{ page+1 }}
        //    div
        //        ul.pagination.pagination-lg
        //            li
        //                a(href='#', ng-click="search.page(0)") &laquo;
        //            li
        //                a(href='#', ng-click="search.pagePrevious()") &lsaquo;
        //            li
        //                a(href='#', ng-click="search.pageNext()") &rsaquo;
        //            li
        //                a(href='#', ng-click="search.page(search.pagination.pageCount()-1)") &raquo;
        //


