// Created by Jason Als on 9/16/13.
// @jasonals
// http://justlooking246.com


#stores

    .list-group
        a.list-group-item(ng-repeat="store in stores.data", ui-sref="base.store.products({slug: store.slug})") {{ store.name }}

