#item{

  .availability{
    font-size: 1.2em;
  }
  .price{
    color: @green;
  }

  .actions{
    margin-bottom: 20px;

  }



}

[qr-code], .qr-code{
  img{
    .img-responsive;
    .center;
  }
}

