.pagination{
  margin: 5px 0;
}

#search{



  .product{
    padding: 0 6px;
    padding-top: 10px;
    height: 260px;
    overflow: hidden;
    a{
      display: block;}
    .wrap{
      //      height: 100%;
      background-color: white;
      border: 2px solid @green;
      position: relative;

      .img{
        padding: 10px;
        height: 170px;
        overflow: hidden;
      }
    }
    .price{
      position: absolute;
      bottom: 0;
      right: 0;
      border: inherit;
      border-bottom-width: 0;
      border-right-width: 0;
      padding: 4px;
      color: @green;
      font-size: 1.3em;
      background-color: white;
    }

    .name{
      padding: 0px 4px;
      font-size: 1.3em;
      font-weight: bold;
      color:  @green;
      overflow-wrap: break-word;
    }

  }

}
