// Created by Jason Als on 9/26/13.
// @jasonals
// http://justlooking246.com

.info
    .panel.panel-body
        h2.text-center(ng-bind="store.data.name")
        .row
            b.col-sm-2 Email
            .col-sm-9(ng-bind="store.data.contact_email")

        .row
            b.col-sm-2 Phone
            .col-sm-9(ng-bind="store.data.phone_number")


        .row
            b.col-sm-2 Website
            .col-sm-9(ng-bind="store.data.website")


        //-div(ng-repeat="(key, val) in store.data") {{ key }}: {{ val }}
