// Created by Jason Als on 10/17/13.
// @jasonals
// http://justlooking246.com

extends ../index

block opengraph
    meta( property="og:title", content="#{store.name}")
    meta( property="og:type", content="justlookingapp:store")
    meta( property="og:url", content="http://justlooking246.com/store/#{store.slug}")
    meta( property="og:image", content="http://justlooking246.com/media/store/small/#{store.id}.jpg")


block content
    include ../base/index

    #store.container
        .panel.store-head
            .panel-body
                if store.photo
                    img.img-responsive.center(src="/media/store/small/#{store.photo}")
                else
                    h1.text-center #{store.name}

        //-.panel.navbar.navbar-custom.navbar-store
                    //-.navbar-header
                        button.navbar-toggle(data-toggle="collapse", data-target=".store-nav")
                            span.sr-only Toggle Navigation
                            span.fa.fa-bars.fa-lg


